<div class="{{classPrefix}}">
  {{> header}}
  <ul class="{{classPrefix}}-content" data-role="items">
  {{#each items}}
    <li data-role="item" class="{{../classPrefix}}-item">{{> html}}</li>
  {{/each}}
  </ul>
  {{> footer}}
</div>
